{:deps
 {org.clojure/clojure            {:mvn/version "1.10.1"
                                  :exclusions [org.clojure/clojure]}
  org.clojure/spec.alpha         {:mvn/version "0.2.187"}
  ;colorize                       {:mvn/version "0.1.1"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}
  midje/midje                    {:mvn/version "1.9.9"
                                  :exclusions [org.clojure/clojure]}}

 :paths ["src/clj" "src/cljc" "resources"]

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha    {:mvn/version "0.0-122"}
                org.clojure/test.check {:mvn/version "0.9.0"}}
   :main-opts ["-m" "kaocha.runner"]}

  :dev
  {:extra-paths ["test"]
   :extra-deps  {org.clojure/test.check {:mvn/version "0.9.0"}}}

  :mvn/repos
  {"central" {:url "https://repo1.maven.org/maven2/"}
   "clojars" {:url "https://clojars.org/repo"}
   "jitpack" {:url "https://jitpack.io"}}
  }}
